{% extends 'base.html' %}

{% block content %}
	
	{% if Experience %}
		<ul>
			<h2 class="head">Experience</h2>
			{% for Experience in Experience %}
				<li>{{Experience.title}}</li>
				<p>Location - {{Experience.location}}</p>
				<p>Start date - {{Experience.start_date}}</p>
				<p>End date - {{Experience.end_date}}</p>
				<p>Description - {{Experience.description}}</p>
			{% endfor %}
		</ul>
    {% else %}
		<h1>OOPS!! No Experience found! Contact an Admin!</h1>
	{% endif %}

	{% if Education %}
		<ul>
			<h2 class="head">Education</h2>
			{% for Education in Education %}
				<li>{{Education.institution_name}}</li>
				<p>Location - {{Education.location}}</p>
				<p>Degree - {{Education.degree}}</p>
				<p>Major - {{Education.major}}</p>
				<p>GPA - {{Education.gpa}}</p>
			{% endfor %}
		</ul>
	{% else %}
		<h1>OOPS!! No Education found! Contact an Admin!</h1>
	{% endif %}


{% endblock %}