{% extends 'base.html' %}

{% block content %}
	<h1 style="text-align: center;font-size:40px">Portfolio of Projects</h1>

	<h3>Project - 1 : Change Management for Process Change</h3>
	<p> Problem Statement: Quality Assurance and Control for the non-conforming parts was not efficient resulting into more Scrap Rate annually.</p>
	<p> Changed process for handling the non-conforming materials to develop a proper traceability in order to have proper match of physical pats with the system.</p>
	<p>Built another new Warehouse Managemnt location for the first time in the history of the organisation for systematic movements of specific Quality Hold material to track the physical inventory in specific locations. this will give reduce the inventory variation in the warehouse and also on the production lines.
	<p>As a SAP Key User for Plant, made the SOP to make the transactions to transfer materials in and out of Quality Hold locations and trained specific accountable people for these transactions.
	</p>
	<p>This project was kicked off in order to comply with ISO TS 16949 Audit for Quality Management Systems.
	</p>

	<h3>Project - 2 : Assessment of Working Capital and Term Loan Financing </h3>
	<p>This project was to analyse the company structure and financial documents in order to assess the strength of handling the working capital of the requested amount and also the Term Loan financing by the Consortium of different banks after analysing the risk factors which can affect the repayment of any amount received by the company.
	</p>


	<h3>Project - 3 :  Co-integration of World Indices and explore opportunities for diversification </h3>
 	<p>This shows the study of how different top 10 stock market indices of the world are co-integrated.
	One market has causal effect on the other due to time series relationship and influence of one market's activity on the other. Applied some proper and related tests on price movements on different indices to check the magnitude of effect of one markets' activity on another. Granger causality test and Johanson Co-integration test were the two tests applied on the 7 years weekly data of prices of top 10 stock market indices to check the causality of one market on another. 
	
{% endblock %}